
@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h1>Active campaigns in the Adelaide City Council</h1>
    </div>
    <div class="col-md-2 sim-controls text-right">
        <div>
            <span>Country:</span>
            <select>
                <option>Australia</option>
            </select>
        </div>
        <div>
            <span>State:</span>
            <select>
                <option>Australia</option>
            </select>
        </div>
        <div>
            <span>Local:</span>
            <select>
                <option>Adelaide City Council</option>
            </select>
        </div>
    </div>
    <div class="teaser-box pull-right">
        <h3>Analytics and simulation engine</h3>
        <div>
            <span>Federal objective:</span>
            <select>
                <option>Agriculturer</option>
            </select>
        </div>
        <div>
            <span>State objective:</span>
            <select>
                <option>Utilising natural resource</option>
            </select>
        </div>
        <div>
            <span>Council objective:</span>
            <select>
                <option>Advocating primary</option>
            </select>
        </div>
        <input type="submit" value="Show" class="btn btn-default" />
    </div>
</div>
<div class="row">
    <table>
        <tr>
            <th>Federal Objective<br></th>
            <th>State Objective<br></th>
            <th>Council Objective<br></th>
            <th>Campaign Progress<br></th>
        </tr>
        <tr>
            <td>Agriculture<br></td>
            <td>Utilising Natural Resources<br></td>
            <td>Advocating primary<br></td>
            <td></td>
        </tr>
        <tr>
            <td><br></td>
            <td><br></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

