
@{
    ViewBag.Title = "Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Projected outcomes - Reducing Crime</h2>
        <div>Location: Local Council / Adelaide</div>
        <div>Between: <input type="date" /> and <input type="date" /></div>
    </div>
    <div class="col-md-2 sim-controls text-right">
        <fieldset title="Objectives >

         <span>Objectives</span>
        <div>
            <span>Federal:</span>
            <select>
                <option>Agriculture</option>
            </select>
        </div>
        <div>
            <span>State:</span>
            <select>
                <option>Utilising natural resource</option>
            </select>
        </div>
        <div>
            <span>Council:</span>
            <select>
                <option>Advocating primary</option>
            </select>
        </div>
        </fieldset>
    </div>
    <div class="teaser-box pull-right">
        <h3>Simulation parameters</h3>

        <input type="submit" value="Run simulation" class="btn btn-default" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>




