@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-md-6">
            <h2>Active campaigns: Adelaide City Council</h2>
        </div>
        <div class="col-md-2 sim-controls text-right">
            <div>
                <span>Country:</span>
                <select>
                    <option>Australia</option>
                </select>
            </div>
            <div>
                <span>State:</span>
                <select>
                    <option>Australia</option>
                </select>
            </div>
            <div>
                <span>Local:</span>
                <select>
                    <option>Adelaide City Council</option>
                </select>
            </div>
        </div>
        <div class="teaser-box pull-right">
            <h3>Project updates</h3>
            <p>Tweets</p>
        </div>
        <div class="teaser-box pull-right">
            <h3>Project updates</h3>
            <p>Tweets</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3 class="campaign-title">Reducing Crime</h3>
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <li>Investment:</li>
                        <li>Time period:</li>
                        <li>Expected outcome:</li>
                        <li>Current index:</li>
                        <li>Expected index:</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul>
                        <li>$2 million</li>
                        <li>2 years</li>
                        <li>Overall reduction in violent crimes</li>
                        <li>420 crimes per year</li>
                        <li>200 crimes per year</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
